/* Conteneur du header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
  position: relative;
}
.bg-light {
  background-color: #F9D0A3 !important;
}
/* Importation de la police BubbleBoddyNeue-Bold */
@font-face {
  font-family: 'BubbleBoddyNeue-Bold';
  src: url('/assets/fonts/BubbleboddyNeue-Bold-Trial.ttf');
}

/* Application de la police personnalisée au titre */
h1 {
  font-family: 'BubbleBoddyNeue-Bold', sans-serif;
}

/* Logo centré */
.header-container img {
  height: auto;
  max-width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Menu burger à gauche */
.burger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 20px;  /* Assure qu'il reste bien à gauche */
  top: 50%;
  transform: translateY(-50%);
}

/* Mode mobile */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
  }

  /* Cacher le titre en mobile */
  .header-container h1 {
    display: none;
  }

  /* Menu burger visible */
  .burger-menu {
    display: block;
  }
}
