@font-face {
    font-family: 'BubbleboddyNeue-Bold';
    src: url('/assets/fonts/BubbleboddyNeue-Bold-Trial.ttf') format('truetype');
    font-style: normal;
  }
  @font-face {
    font-family: 'Confortaa-Regular';
    src: url('/assets/fonts/confortaa-Regular.ttf') format('truetype');
    font-style: normal;
}
    h2{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        background-color: #FDD90B  ;
        color:  #151217 ;
        font-family:'BubbleboddyNeue-Bold' ;
        
    }
    img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: auto;
    }
    p{
        font-family: "Confortaa-Regular";
    }
