<div *ngIf="produit as p" class="container mt-4">
  <div class="card shadow p-4">
    <h3 class="text-center mb-3">{{ p.name }}</h3>
    <img [src]="p.image" [alt]="p.name" class="img-fluid rounded mb-3" width="300" />
    <p><strong>Description :</strong> {{ p.description }}</p>
    <p><strong>Prix :</strong> {{ p.price }} €</p>
    <p><strong>Catégorie :</strong> {{ p.category }}</p>
    <!-- Bouton pour ajouter depuis la page de détails -->
    <button (click)="addProductToService(p)" class="btn btn-success mt-3">Ajouter au panier</button>
    <button (click)="goBack()" class="btn btn-dark mt-3">Retour</button>
  </div>
</div>
