/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1; /* Permet au contenu de prendre tout l’espace disponible */
  }
  
  .footer {
    background: #F9D0A3;
    color:  #151217 ;
    text-align: center;
    padding: 15px 0;
    width: 100%;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
