<div class="container">
  <h2 class="text-center">{{ title }}</h2>
  <p class="text-center" routerLink="/about">{{ presentationText }}</p>

  <!-- Sélecteur de tri -->
  <div class="text-center mb-3">
    <label for="sortOrder">Trier par prix :</label>
    <select [(ngModel)]="sortOrder" id="sortOrder" class="form-select">
      <option value="asc">Croissant</option>
      <option value="desc">Décroissant</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let product of products | sortByPrice: sortOrder">
      <div class="card mb-4">
        <img [src]="product.image" class="card-img-top" [alt]="product.name">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p><strong>Prix :</strong> {{ product.price }} €</p>
          
          <!-- Boutons sur la même ligne -->
          <div class="d-flex justify-content-between">
            <!-- Bouton Ajouter au panier -->
          
            <button (click)="addProductToService(product)" class="btn btn-dark">Ajouter</button>

            <!-- Bouton Voir les détails -->
            <a [routerLink]="['/produit', product.name]" class="btn btn-light">Voir les détails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
