<div class="container">
  <h2 class="text-center">{{ title }}</h2>
  <p class="text-center" routerLink="/about">{{ presentationText }}</p>

  <!-- Sélecteur de tri -->
  <div class="text-center mb-3">
    <label for="sortOrder">Trier par prix :</label>
    <select [(ngModel)]="sortOrder" id="sortOrder" class="form-select">
      <option value="asc">Croissant</option>
      <option value="desc">Décroissant</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let product of products | sortByPrice: sortOrder">
      <div class="card mb-4">
        <!-- Rendre l'image cliquable pour accéder aux détails du produit -->
        <a [routerLink]="['/produit', product.name]">
          <img [src]="product.image" class="card-img-top" [alt]="product.name">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p><strong>Prix :</strong> {{ product.price }} €</p>
          
          <!-- Bouton Ajouter depuis la page de détails -->
          <button (click)="addProductToService(product)" class="btn btn-dark">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  
  </div>

